# Rust
/target
/Cargo.lock
*/target/
**/debug


# Editor/IDE specific
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Miscellaneous
.DS_Store
*.log
*.swp
*~

# Data
data/loading/RES_capture.pcapng
data/loading/*